html {
    font-size: 100%;
}

body {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
}

a {
    text-decoration: none;
    color: #333;
}

th {
    font-weight: normal;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.site-title {
    width: 109px;
    line-height: 1px;
    margin: 0 auto 36px auto;
}

.site-title a {
    display: block;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

#header {
    max-width: 1000px;
    padding: 46px 0 26px 0;
    border-bottom: solid 1px #c3c3c3;
    margin: 0 auto 50px auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .menu,
nav .login {
    display: flex;
    align-items: center;
}

nav .menu li {
    margin-right: 14px;
}

nav .login li {
    margin-left: 14px;
}

#item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.item-img {
    max-width: 400px;
    flex-shrink: 0;
    margin-right: 60px; /*画像を縮まなくする*/
}

.item-info p {
    margin-bottom: 30px;
    line-height: 1.9;
}

#item .item-info .item-title {
    height: 60px;
    display: flex;
    align-items: center;
    border-top: solid 1px #c3c3c3;
    border-bottom: solid 1px #c3c3c3;
    font-size: 1rem;
    margin-bottom: 20px;
}

.order-table {
    width: 100%;
    margin-bottom: 20px;
}

.order-table .color,
.order-table .size {
    width: 20%;
}

.order-table .quantity {
    width: 60%;
}

.order-table td {
    border-top: solid 1px #c3c3c3;
}

.order-table th,
.order-table td {
    border-right: solid 1px #c3c3c3;
    padding: 10px;
    text-align: center;
}

.order-table th:last-child,
.order-table td:last-child {
    border-right: none;
}

.order-table select {
    width: 100%;
    border: solid 1px #c3c3c3;
    padding: 0 10px;
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
}

.cart-btn {
    width: 100%;
    background-color: rgb(79, 79, 79);
    color: white;
    display: block;
    text-align: center;
    padding: 17px 15px;
    margin-bottom: 30px;
}

.size-table {
    width: 100%;
    border-top: solid 1px #c3c3c3;
    border-left: solid 1px #c3c3c3;
}

.size-table .size {
    width: 16%;
}

.size-table .chest,
.size-table .weist,
.size-table .height {
    width: 28%;
}

.size-table th {
    background-color: #ecebeb;
}

.size-table th,
.size-table td {
    font-weight: normal;
    padding: 10px;
    border-right: solid 1px #c3c3c3;
    border-bottom: solid 1px #c3c3c3;
    text-align: center;
}

#footer {
    padding: 10px 0;
}

#footer .copyright {
    text-align: center;
    font-size: 0.6rem;
}

@media screen and (max-width: 896px) {
    .site-title {
        margin-bottom: 26px;
    }

    #header {
        margin-bottom: 0;
        border-bottom: none;
        padding: 36px 16px 16px 16px;
    }

    nav {
        overflow-x: scroll;
    }

    #item {
        flex-direction: column;
    }

    #item .item-img {
        max-width: 100%;
        margin: 0 0 10px 0;
    }

    #item .item-info {
        padding: 0 16px;
    }
}
